name: Android Build

on:
  push:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        androidExportType: [ androidPackage ] # apk, aab

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
          fetch-depth: 0      
      
      
      # Unity Library 캐시 (repo 루트에 Unity 프로젝트가 있을 때: ./Library)
      # apk/aab 공유: androidExportType을 키에서 제거
      - name: Cache Library
        uses: actions/cache@v4
        with:
          path: Library
          key: Library-${{ matrix.targetPlatform }}
          restore-keys: Library-
          
      - uses: jlumbroso/free-disk-space@v1.3.1

      - name: Build
        uses: game-ci/unity-builder@v4
        env:
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
          UNITY_SERIAL: ${{ secrets.UNITY_SERIAL }}
          # 가능하면 이 방식이 더 안정적
          # UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          targetPlatform: Android
          unityVersion: ${{ matrix.unityVersion }}
          androidExportType: ${{ matrix.androidExportType }}

          # 서명(필요 시)
          #androidKeystoreName: keystore.keystore
          #androidKeystoreBase64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
          #androidKeystorePass: ${{ secrets.ANDROID_KEYSTORE_PASS }}
          #androidKeyaliasName: ${{ secrets.ANDROID_KEYALIAS_NAME }}
          #androidKeyaliasPass: ${{ secrets.ANDROID_KEYALIAS_PASS }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Build-${{ matrix.targetPlatform }}
          path: build/${{ matrix.targetPlatform }}
          retention-days: 14
          
      - name: Return license
        uses: game-ci/unity-return-license@v2
        if: always()
