name: Build project
on: [push, pull_request]

concurrency:
  group: unity-build-${{ github.ref }}
  cancel-in-progress: false

jobs:
  android:
    name: Android
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      - uses: actions/cache@v3
        with:
          path: Library
          key: Library-Android
          restore-keys: Library-

      - uses: jlumbroso/free-disk-space@v1.3.1

      - name: Build (Android)
        uses: game-ci/unity-builder@v4
        env:
          UNITY_SERIAL: ${{ secrets.UNITY_SERIAL }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: Android

      - uses: actions/upload-artifact@v4
        with:
          name: Build-Android
          path: build/Android

      - name: Return license (always)
        if: always()
        uses: game-ci/unity-return-license@v2
        env:
          UNITY_SERIAL: ${{ secrets.UNITY_SERIAL }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}

  macos:
    name: macOS (StandaloneOSX)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      - uses: actions/cache@v3
        with:
          path: Library
          key: Library-StandaloneOSX
          restore-keys: Library-

      - name: Build (StandaloneOSX)
        uses: game-ci/unity-builder@v4
        env:
          UNITY_SERIAL: ${{ secrets.UNITY_SERIAL }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: StandaloneOSX
          cacheUnityInstallationOnMac: true

      - uses: actions/upload-artifact@v4
        with:
          name: Build-StandaloneOSX
          path: build/StandaloneOSX

      - name: Return license (always)
        if: always()
        uses: game-ci/unity-return-license@v2
        env:
          UNITY_SERIAL: ${{ secrets.UNITY_SERIAL }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
